*{
    font-family: sans-serif;
    font-style: italic;
}
h1{
    color: brown;
    padding-top: 20px;
}
.header{
    padding-top: 100px;
    margin-left: 900px;
    display: flex;
    text-align: right;
    font-size: 55;
    font-weight: bolder;
}
div li{
    list-style: none;
}
header{
    padding-bottom: 50px;
    background-image: url('/Projects/Assignment-1/banner/Banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.btn-1{
    font-size: 40;
    background-color: orangered;
    margin-left: 1120px;
    margin-bottom: 80px;
    border: 10px;
    border-radius: 10px;
}


/*Banner-2*/
.nav{
    text-align: left;
    font-size: 13;
    margin-left: 700px;
    padding-top: 150px;
    margin-bottom: 150px;
}
nav {padding-bottom: 50px;
    background-image: url('/Projects/Assignment-1/Banner-2.png');
    background-size: 30%;
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-between;
}


/*Task-3*/
ul li{
    list-style: none;
}
.content{
    justify-content: space-between;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 150px;
    margin-right: 150px;
}
.x{
    font-size: medium;
    font-weight: 300;
}