*{
    font-family: serif;
    font-style: italic;
}
h1{
    color: palevioletred;
    padding-top: 20px;
}
.header{
    padding-top: 100px;
    margin-left: 900px;
    display: flex;
    text-align: right;
    font-size: 55;
    font-weight: bolder;
}
div li{
    list-style: none;
}
header{
    padding-bottom: 50px;
    background-image: url('./banner/Banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.btn-1{
    padding: 15px;
    color: white;
    font-size: 15px;
    background-color: orangered;
    margin-left: 1200px;
    margin-bottom: 80px;
    border: 10px;
    border-radius: 10px;
}


/*Banner-2*/
.nav{
    text-align: left;
    font-size: 18;
    margin-left: 450px;
    padding-top: 150px;
    margin-bottom: 150px;
}
nav {padding-bottom: 50px;
    background-image: url('./Banner-2.png');
    background-size: 30%;
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-between;
}


/*Task-3*/
ul li{
    list-style: none;
}
.content{
    justify-content: space-between;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 40px;
}
.x{
    font-size: 15px;
    font-weight: 80px;
}


/*Task-4*/
.image{
    text-align: center;
    background-image: url('./watch.png');
    background-size: 70%;
    background-position-x: center;
    background-repeat: no-repeat;
}


/*Final-Task*/
.final-task{
    background-color: black;
}
p{
    color: white;
}