*{
    font-family: serif;
    font-style: italic;
}
h1{
    color: palevioletred;
    padding-top: 20px;
}
.header{
    padding-top: 100px;
    padding-right: 193px;
    text-align: right;
    font-size: 55;
    font-weight: bolder;
}
div li{
    list-style: none;
}
header{
    padding-bottom: 50px;
    background-image: url('./new-year-new-me/images/banner/banner1.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.btn-1{
    padding: 15px;
    color: white;
    font-size: 15px;
    background-color: orangered;
    margin-left: 1210px;
    border: 10px;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 150px;
}


/*Banner-2*/

.nav{
    text-align: left;
    font-size: 18;
    margin-left: 650px;
    padding-top: 150px;
    margin-bottom: 150px;
    justify-content: space-between;
}
nav {
    background-image: url('./new-year-new-me/images/person.png');
    padding-top: 50px;
    background-size: 30%;
    position: relative;
    left: 206px;
    display: flex;
    background-repeat: no-repeat;
}


/*Task-3*/

ul li{
    list-style: none;
}
.content{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 110px;
    margin-right: 150px;
    padding-bottom: 40px;
}
.x{
    font-size: 15px;
    font-weight: 80px;
}


/*Task-4*/

.image{
    text-align: center;
    background-image: url('./new-year-new-me/images/watch.png');
    background-size: 70%;
    background-position-x: center;
    background-repeat: no-repeat;
}


/*Final-Task*/

.final-task{
    background-color:darkgrey;
}
p{
    color: white;
}